@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* This will prevent content overflow */
  }
  
  body {
    background-color: rgb(59 76 75);
  }
  
  /* Add your other CSS rules for the website layout and styles below this line */
  

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none ;
    height: 65px;
    
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(logo/bg1.jpg);
}

.bottom{
    position: sticky;
    
    bottom: 0;
    height: 130px;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 75vw;
    cursor: pointer;
}

.songItemContainer{
margin-top: 35px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width:43px;
    margin:23px 0;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position:absolute;
    left:10vm;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}